* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: 'MedievalSharp', cursive;
  background: url(../images/background.jpg) center center no-repeat;
  background-size: cover;
}

header {
  padding: 20px 0;
  background: #3B0B0B;
  text-align: center;
}

header h1 {
  font-size: 28px;
  color: white;
}

main {
  height: calc(100% - 68px);
}

.instructions {
  text-align: center;
}

.instructions h1 {
  font-family: 'Lora', serif;
  font-size: 36px;
  color: white;
  text-shadow: 1px 1px 2px #3A2919;
  padding-top: 25px;
}

.second-instruction, .third-instruction {
  display: none;
}

.game-play {
  width: 100%;
  height: calc(100% - 61px);
  position: relative;
}

.game-play::after {
  content: "";
  display: block;
  clear: both;
}

.good {
  width: 50%;
  height: 100%;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.evil {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.character {
  width: 10%;
  position: absolute;
  font-size: 14px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px #3A2919;
}

.good .character:first-child {
  right: 88%;
  top: 20px;
}

.good .character:nth-child(2) {
  right: 76%;
  top: 20px;
}

.good .character:nth-child(3) {
  right: 64%;
  top: 20px;
}

.good .character:nth-child(4) {
  right: 53%;
  top: 20px;
}

.good .character:last-child {
  right: 42%;
  top: 20px;
}

.evil .character:first-child {
  left: 42%;
  bottom: 40px;
}

.evil .character:nth-child(2) {
  left: 53%;
  bottom: 40px;
}

.evil .character:nth-child(3) {
  left: 64%;
  bottom: 40px;
}

.evil .character:nth-child(4) {
  left: 76%;
  bottom: 40px;
}

.evil .character:last-child {
  left: 88%;
  bottom: 40px;
}

.char-img {
  width: 100%;
  border-radius: 50%;
  margin: 10px auto;
  cursor: pointer;
}

.char-img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid red;
}

.attack-btn {
  display: block;
  font-family: inherit;
  font-weight: bold;
  background-color: #666666;
  color: transparent;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
  border: none;
  margin: 20px auto;
  cursor: pointer;
}

