html, body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: 'MedievalSharp', cursive;
  background: url(../images/background.jpg) center center no-repeat;
  background-size: cover;
}

header {
  padding: 20px 0;
  background: #3B0B0B;
  text-align: center;
}

header h1 {
  font-size: 28px;
  color: white;
}

.characters li {
  width: 150px;
  float: right;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px #3A2919;
}

.characters span {
  height: 20px;
}

#good-guys {
  position: absolute;
  top: 100px;
  left: 20px;
}

#bad-guys {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.char-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid red;
  margin: 10px auto;
  cursor: pointer;
}

.char-img img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}